.active-class{
	color: red !important;
}
body
{
	background-image:url('./football.jpg');
	background-origin: content-box;
	background-width:fullscreen;;
	opacity: 1;
	background-repeat:no-repeat;
	height:auto !important;
}